.Skills-Section {
    width: 97.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}


.Skills-Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5%;
}

.Skills-RowItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

@media only screen and (max-width: 768px) {
    .Skills-Section {
        width: 100%;
    }
}