.Header {
  @apply text-white font-bold text-4xl font-BreezeHeader px-5;
}

.Text {
  @apply text-white text-2xl font-BreezeText px-12;
}

.Tagline {
  @apply text-white text-base font-BreezeText px-12 text-center;
}

.ResumeHeader {
  @apply text-blue-300 font-bold text-4xl font-BreezeHeader px-5;
}

.ResumeText {
  @apply text-blue-300 text-2xl font-BreezeText px-12;
}

.ResumeTagline {
  @apply text-blue-300 text-2xl font-BreezeText px-12 italic text-center;
}

.Button {
  @apply text-white font-bold text-2xl font-BreezeHeader rounded-xl border-8 border-blue-600 bg-blue-600;
}

.Body {
  @apply h-screen;
}

.BodyColour {
  @apply bg-gray-800;
}

.PageBannerTitle {
  @apply font-extrabold text-3xl md:text-5xl lg:text-6xl py-4 font-BreezeHeader px-12 md:px-36 bg-clip-text text-center md:text-left hidden sm:inline-block;
}

.PageBannerText {
  @apply font-medium text-2xl lg:text-4xl py-2 font-BreezeMono px-12 md:px-36 bg-clip-text inline-block text-center md:text-left;
}

.PageBannerPhoto {
  @apply h-48 sm:h-64 md:h-80 lg:h-[94vh] bg-center flex items-center;
}

.homeVideoPlayer {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.HoverText {
  background-size: cover;
  position: absolute;
  display: inline-block;
  z-index: -1;
}